{
  "openapi": "3.1.0",
  "info": {
    "title": "OpenAPI Bumpups Chat API",
    "description": "API for generating interactive chat responses for YouTube videos using the bump-1.0 model.",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.bumpups.com",
      "description": "Production server"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "paths": {
    "/chat": {
      "post": {
        "description": "Creates an interactive chat response for a given YouTube video using the bump-1.0 model. Provide the video URL and an optional prompt. If no prompt is provided, the API returns a summary of the video content.",
        "security": [
          { "ApiKeyAuth": [] }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateChatRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success - A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateChatResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "CreateChatRequest": {
        "type": "object",
        "required": ["url"],
        "properties": {
          "url": {
            "type": "string",
            "description": "The YouTube video URL."
          },
          "model": {
            "type": "string",
            "enum": ["bump-1.0"],
            "default": "bump-1.0",
            "description": "The model used for generating the chat response."
          },
          "prompt": {
            "type": "string",
            "maxLength": 500,
            "default": "summary",
            "description": "The message or query about the video. Prompts longer than 500 characters will be cut off."
          },
          "language": {
            "type": "string",
            "enum": ["en", "hi", "es", "pt", "ru"],
            "default": "en",
            "description": "A two-letter language code for the response."
          },
          "output_format": {
            "type": "string",
            "enum": ["text", "markdown"],
            "default": "text",
            "description": "The desired output format."
          }
        }
      },
      "CreateChatResponse": {
        "type": "object",
        "properties": {
          "url": { "type": "https://www.youtube.com/watch?v=wv6TaPbnBp4" },
          "model": { "type": "bump-1.0" },
          "prompt": { "type": "What is the main message of this video?" },
          "language": { "type": "en" },
          "output_format": { "type": "text" },
          "output": { "type": "This is an example chat output for demonstration purposes", "description": "The generated chat output." },
          "video_duration": { "type": "10", "description": "Duration of the video in minutes or seconds." }
        }
      }
    },
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key"
      }
    }
  }
}